{% extends "base.html" %}

{% block content %}

 <h2 class="mb-4">Login</h2>
<form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label (class="form-label") }}
        {{ form.username (class="form-control" , placeholder="Enter username") }}
        {% for error in form.username.error %}
            <span class="form-text form-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.password.label (class="form-label") }}
        {{ form.password (class="form-control" , placeholder="Enter Password") }}
        {% for error in form.password.error %}
            <span class="form-text form-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}